{% extends 'base.html' %}

{% block title %}
KASZEROWANIE
{% endblock %}

{% block content %}

<div class="my-4 mx-1 p-1 border border-primary rounded">
  <h1>Kaszerowanie - zadania do wykonania</h1>
</div>

<div>
  {% for kasz in kasz_zrobic %}
  <div class="border rounded my-3 px-3 py-1">
    <div class="row py-1">
      <div class="col-sm-2 col-md-6">
        <h4 class="m-1">Kod:{{ kasz.pk }} - Klient: {{ kasz.klient }} </h4>
      </div>
      <div class="col d-flex">
        <p class="m-1">{{ kasz.nazwa}}</p> 
        <p class="m-1">{{ kasz.kasz_wykonane }} / {{ kasz.kasz_zamówienie }}</p> 
      </div>
      <div class="col d-flex">  
        <a href="#" class="btn btn-primary m-1">Edytuj</a>
        <a href="#" class="btn btn-primary m-1">Dodaj</a>
        <button class="btn btn-primary m-1" type="button" data-bs-toggle="collapse" data-bs-target="#element{{ kasz.pk }}" aria-expanded="false" aria-controls="collapseExample"> szczegóły</button>
      </div>
    </div>
    <div class="collapse" id="element{{ kasz.pk }}">
      <div class="card card-body my-2">
        <p>{{ kasz.nazwa }}</p>
        <p>Zadanie: {{ kasz.wydruk }} + {{kasz.material}}</p>
        <p>Stan:{{ kasz.kasz_wykonane }} / {{ kasz.kasz_zamówienie }}</p>
        <p>Zaplanowane na dzień: {{ kasz.kasz_plan_date }} </p>
        <p>Utworzone: {{ kasz.created_date }} / Zmodyfikowane: {{ kasz.mod_date }} </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
