{% extends 'base.html' %}

{% block title %}
KASZEROWANIE - {{ title }}
{% endblock %}

{% block content %}

<div class="container">

  <div class="my-auto">
    <p>Zadanie o kodzie <b>"{{kasz.pk}}"</b> </p> 
    <p>Nazwa: <b>"{{kasz.name}}"</b>, dla klienta: <b>"{{ kasz.client }}"</b></p>
    <form method="POST">
      <label for="basic-url" class="form-label">Wykonane (szt):</label>
      <div class="input-group mb-3">
        {{form.kasz_done}}
        <span class="input-group-text" id="basic-addon3">/ {{ kasz.kasz_ordered }}</span>
      </div>
      <div>
        <p>Zadanie skończone?</p>
      {{ form.kasz_status}}
      </div>
      {% csrf_token %} 
      <div class="my-3">
      <input class='btn btn-success' type="submit" name="" value="zapisz">
      <a href="{% url 'kaszerowanie:kasz_list_all' %}" class="btn btn-success">Anuluj</a>
      </div>

    </form>
  </div>
</div>

{% endblock %}
