{% extends 'base.html' %}

{% block title %}
KASZEROWANIE - {{ title }}
{% endblock %}

{% block content %}

<div class="my-4 mx-1 p-1">
  <h1> Kaszerowanie - {{ title }}</h1>
</div>

<div class="my-5">
    {% for data in kasz_tab_data %}
  <div class="my-1">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header primary" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{data.pk}}" aria-expanded="true" aria-controls="collapseOne">
            KOD: {{data.pk}}, Klient: {{data.client}}, Nazwa: {{data.name}}, Stan: {{ data.kasz_done}}/ {{data.kasz_ordered}}
          </button>
        </h2>
        <div id="collapse{{data.pk}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">KOD</th>
      <th scope="col">Klient</th>
      <th scope="col">Nazwa</th>
      <th scope="col">Stan</th>
      <th scope="col">Modyfikacja</th>
      <th scope="col">Zakończone</th>
      <th scope="col">Działanie</th>
    </tr>
  </thead>
  <tbody>
    <tr class="bg-opacity-25">
      <td data-cell="KOD">{{data.pk}}</td>
      <td data-cell="Klient">{{data.client}}</td>
      <td data-cell="Nazwa">{{data.name}}</td>
      <td data-cell="Stan"> {{ data.kasz_done}}/ {{data.kasz_ordered}}</td>
      <td data-cell="Modyfikacja">{{data.mod_date|date:"d-M-Y G:i"}}</td>
      <td data-cell="Zakończone" class="jobstatus">{{data.kasz_status}}</td>
      <td data-cell="Działanie">
        <a href="{% url 'kaszerowanie:kasz_status_done' data.pk %}" class='btn btn-light mx-1'>zrobione</a>
        <a href="{% url 'kaszerowanie:kasz_detail' data.pk %}" class='btn btn-light mx-1'>edytuj</a>
        <a href="{% url 'kaszerowanie:kasz_delete' data.pk %}" class='btn btn-light mx-1'>usuń</a>
      </td>
    </tr>
  </tbody>
</table>
          </div>
        </div>
      </div>
    </div>
  </div>
    {% endfor %}
</div>

<!-- Paginator -->
<div class="container">
{% if paginator_data.has_other_pages %}
<nav>
  <ul class="pagination justify-content-center">
    {% if paginator_data.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ paginator_data.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link" aria-hidden="true">&laquo;</span>
    </li>
    {% endif %}

    {% for p in paginator_data.paginator.page_range %}
    {% if paginator_data.number == p %}
    <li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
    {% endif %}
    {% endfor %}

    {% if paginator_data.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ paginator_data.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link" aria-hidden="true">&raquo;</span>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
</div>

{% endblock %}
